.Card {
    width: 95%;
    height: 65px;
    margin: 25px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgb(180, 180, 180);
    border-radius: 12px;
}

.CardLabel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.CardLabel > input {
    margin: 0px 10px 0px 0px;
}

.Buttons {
    cursor: pointer;
}

.TaskHashed {
    text-decoration:line-through;
    color: rgb(0, 0, 0, 0.5);
}